{% extends "base.html" %}

{% block title %}Gallery{% endblock title %}

{% block body %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css" integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous" />
<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<section style="margin-top: 100px">
    <div class="row">
        <div class="col-xl-8">

            <div class="card border shadow-none">
                <div class="card-body">
                    <div class="d-flex align-items-start border-bottom pb-3">
                        <div class="me-4">
                            <i class="fa fa-music text-danger"></i> &nbsp; &nbsp; &nbsp
                        </div>
                        <div class="flex-grow-1 align-self-center overflow-hidden">
                            <div>
                                <p class="mb-0 mt-1 text-danger"> <strong>{{ event.name }} </strong></p>
                                <p class="mb-0 mt-1 "> <i class="fa fa-map-marker"></i> &nbsp;{{ event.venue }} </p>
                                <p class="mb-0 mt-1 "> <i class="fa fa-calendar"></i> &nbsp;{{ event.event_date }} </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end card -->


        </div>

        <div class="col-xl-4">
            <div class="mt-5 mt-lg-0">
                <div class="card border shadow-none">
                    <div class="card-header bg-transparent border-bottom py-3 px-4">
                        <h5 class="font-size-16 mb-0">Order Summary <span class="float-end">#MN0124</span></h5>
                    </div>
                    <div class="card-body p-4 pt-2">

                        <div class="table-responsive">
                            <table class="table mb-0">
                                <tbody>
                                <tr>
                                    <td>Quantity :</td>
                                    <td class="text-end">
                                        <select id="ticket_qty" class="form-select form-select-sm w-xl">
                                        <option value="1" selected="">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                    </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Sub Total :</td>
                                    <td class="text-end" id="subtotal">{{event.ticket_price}}</td>
                                </tr>
                                <tr>
                                    <td>Estimated Tax : </td>
                                    <td class="text-end" id="tax">$ 18.20</td>
                                </tr>
                                <tr class="bg-light">
                                    <th>Total :</th>
                                    <td class="text-end">
                                            <span class="fw-bold" id="total">
                                                {{ event.ticket_price|add:"+18.20" }}
                                            </span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- end table-responsive -->
                    </div>
                </div>
            </div>
            <div class="row md-12">

                <div class="col-sm-12">
                    <div class="text-sm-end ">
                        <a href="{% url 'checkout' event.id %}?e_id={{ event.id }}" class="btn btn-success">
                            <i class="mdi mdi-cart-outline me-1"></i> Checkout </a>
                        <a href="{% url 'events_detail' event.id %}?e_id={{ event.id }}" class="btn">
                            <i class="mdi mdi-cross me-1"></i> Cancel </a>
                    </div>
                </div> <!-- end col -->
            </div> <!-- end row-->
        </div>
    <!-- end row -->

</div>
</section>
{% endblock body %}

{% block custom_js %}
    <script>
    new DataTable('#events-list');

        $(document).ready(function() { 
            var qty = parseInt($("#ticket_qty").val());
            var ticketPrice = parseFloat("{{ event.ticket_price }}");
            var tax = parseFloat(ticketPrice * 0.08 * qty);
            var subtotal = parseFloat((qty * ticketPrice).toFixed(2));
            var total = (subtotal + tax);
            $("#subtotal").html(subtotal);
            $("#total").html(total);
            $("#tax").html(tax);
        

        $("#ticket_qty").on("change", function() {
            var qty = parseInt($(this).val());
            var ticketPrice = parseFloat("{{ event.ticket_price }}");
            var tax = parseFloat(ticketPrice * 0.08 * qty);
            var subtotal = parseFloat((qty * ticketPrice).toFixed(2));
            var total = (subtotal + tax);
            $("#subtotal").html(subtotal);
            $("#total").html(total);
            $("#tax").html(tax);
        });
    });
    </script>
{% endblock %}